.Homefilter {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;


}
.borderfilter {
    border: 2px solid forestgreen;
}

.filtertext p{
    font-size: 15px ;
}

@media (max-width: 500px) {

    .filtertext h1{
        font-size: 15px ;
    }
    .filtertext p{
        font-size: 10px ;
    }
}